:root {
    --text-f:#fcefef;
    --text-s: #faf5f5ea;
    --background-f:#4D555B;
    --background-f-transp:#012538;
    --background-s:#1B768E;
    --paleta-f:#FB9833;
    --paleta-s:#fbab33;
    --paleta-t:#ffd0a0;

    /* COPIADO PARA NO TENER PROBLEMAS */
    --presentacion-titulo-tamanio: 4rem;
    --presentacion-titulo-tamanio-grande: 3.4rem;
    --presentacion-descripcion-tamanio: 1.2rem;
    --titulo-tamanio: 3rem;
    --sub-titulo-tamanio: 2rem;
    --texto-tamanio: 1.1rem;
    --enlaces-tamanio: 1.2rem;
    --texto-peso-grueso: 700;
    --texto-peso-regular: 400;
    --texto-peso-fino: 300;
}

/* COPIADO PARA NO TENER PROBLEMAS */
* {
    /* normalizador */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* generales */
    color: var(--text-f);
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

html {
    background-color: var(--background-f);
}

body {
    min-height: 100%;
    position: relative;
}
